[Desktop Entry]
Name=Evolvere Light
X-KDE-PluginInfo-Author=Frank Souza
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=franksouza183@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-Name=EvolvereLight
X-KDE-PluginInfo-Version=1.1
