[Desktop Entry]
Name=Evolvere
Comment=
X-KDE-PluginInfo-Author=Frank Souza
X-KDE-PluginInfo-Email=franksouza183@gmail.com
X-KDE-PluginInfo-Name=Evolvere
X-KDE-PluginInfo-Version=1.0.2
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

[Settings]
FallbackTheme=default
UseNativeWidgetStyle=false